.app {
  background-color: #f3f3f3;
  font-family: "Cabinet Grotesk";
  font-weight: bold;
  width: 100%;
  overflow-x: hidden;
  height: fit-content;
}

.app__content {
  max-width: 1360px;
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
  margin: 0 auto;
  position: relative;
}

@media all and (max-width: 1360px) {
  .app__content {
    max-width: 90%;
  }
}
