.modal__card {
  z-index: 10;
  max-width: 400px;
  position: relative;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.modal__item-image {
  max-width: 400px;
}

.modal__footer {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal__footer-right {
  margin-right: 32px;
}

.modal__delete-btn {
  border: none;
  background-color: white;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: red;
  cursor: pointer;
}

.modal__item-name,
.modal__item-weather {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 0 32px;
}

.modal__item-weather {
  margin-top: 12px;
}
