.weather-card {
  position: relative;
  margin-top: 28px;
  width: fit-content;
}

.weather-card__image {
  object-fit: fill;
  object-position: right top;
  height: 80px;
  width: 100%;
}

.weather-card__temp {
  font-size: 36px;
  line-height: 40px;
  color: white;
  margin: 0;
  position: absolute;
  left: 16px;
  top: 20px;
}

@media all and (max-width: 750px) {
  .weather-card {
    margin-top: 0;
  }
}
