.app {
  background-color: #f3f3f3;
  font-family: "Cabinet Grotesk";
  font-weight: bold;
  width: 100%;
  height: fit-content;
}

.app__content {
  max-width: 1360px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}
